html,body{
    margin: 0;
    padding: 0;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
}
header{
    background-color: black;
    height: 80px;
    width: 100%;
}
.icon img{
    width: 135px;
    padding-left:20px;
    padding-top:20px;
}

.head img{
    position: absolute;
}
header nav{
    height: 100%;
}
header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin: auto;
    padding-top: 32px;
}
header nav ul li{
    padding-right: 25px;
    padding-left: 10px;
    color: white;
    font-size: 15px;
}
header nav ul li.menu{
    font-weight: bold;
}
header nav ul li:last-of-type{
    padding-right: 80px;
}
header nav ul li.menu:hover{
    color: #1ed760;
    cursor: pointer;
}
header nav ul li.bar:hover{
    cursor: default;
}








footer{
    color: white;
    background-color:#000;
    width:100vw;
}
footer{
    display: flex;
    justify-content: space-evenly;
}
footer nav{
    display: flex;
    justify-content: center;
}
dt{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
    margin-bottom:30px;
}
dd{
    font-size: 16px;
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    padding: 3px 0 15px;
}
dd:hover{
    cursor:pointer;
    color: #1ed760;
}