body{
    margin: 0;
    padding: 0;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
}
header{
    background-color: black;
    height: 80px;
    width: 100%;
}
.icon img{
    width: 135px;
}
.head img{
    position: absolute;
    padding-top: 20px;
    padding-left: 60px;
}
header nav{
    height: 100%;
}
header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin: auto;
    padding-top: 32px;
}
header nav ul li{
    padding-right: 25px;
    padding-left: 10px;
    color: white;
    font-size: 15px;
}
header nav ul li.menu{
    font-weight: bold;
}
header nav ul li:last-of-type{
    padding-right: 80px;
}
header nav ul li.menu:hover{
    color: #1ed760;
    cursor: pointer;
}
header nav ul li.bar:hover{
    cursor: default;
}